// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap);

$lobster: 'Lobster', cursive;
$roboto: 'Roboto Mono', monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: $roboto;
  color: #464655;
}

.box {
  background-color: #ff70a6;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  flex-grow: 1;
  margin: 30px auto 100px auto;
  width: 50%;
  padding: 3%;
  min-height: 300px;
}

button {
  border-radius: 20px;
  margin-right: 10px;
  padding: 7px;
  cursor: pointer;
  border: 3px solid #44ffd1;
  background-color: #44ffd1;
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;
  margin-left: 5px;
}

.entrance-title {
  font-family: $lobster;
  font-size: 100px;
  color: #464655;
}

h1 {
  font-family: $lobster;
}

.landing-page-wrapper {
  background: #ff70a6;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  flex-grow: 1;
  margin: 30px auto 100px auto;
  width: 50%;
}
