* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Roboto Mono', monospace;
  color: #464655;
}

button {
  border-radius: 20px;
  margin-right: 10px;
  padding: 7px;
  cursor: pointer;
  border: 3px solid #44ffd1;
  background-color: #44ffd1;
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.button-color {
  background-color: #a06cd5;
  border: 3px solid #a06cd5;
  color: white;
}

.landingbox {
  background: #ff70a6;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  flex-grow: 1;
  margin: 30px auto 100px auto;
  width: 50%;
  padding: 3%;
  max-height: 450px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 5px;
}

.entrance-title {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  color: #464655;
}

h1 {
  font-family: 'Lobster', cursive;
}

input {
  height: 40px;
  padding: 7px;
  border: none;
  border-radius: 20px;
  outline: none;
}
