* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  color: #464655;
}

::-webkit-scrollbar {
  width: 1em;
  background: none;
}

::-webkit-scrollbar-thumb {
  background: black;
  outline: 1px solid slategrey;
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    background-color: lighten(#44ffd1, 10%);
  }
}
body,
html {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button {
  border-radius: 20px;
  cursor: pointer;
  border: 3px solid darken(#44ffd1, 5%);
  background-color: #44ffd1;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0.5, 0.5);
  font-size: 14px;
  padding: 5px;
  outline: none;
  &:hover {
    background-color: lighten(#44ffd1, 10%);
  }
}

button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.linkbutton {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  &:hover {
    background-color: none;
  }
}

.button-color {
  background-color: #a06cd5;
  border: 3px solid #a06cd5;
  color: white;
  &:hover {
    background-color: #a06cd5;
  }
}

.landingbox {
  background: #ff70a6;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5), inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  flex-grow: 1;
  margin: 30px auto 100px auto;
  width: 50%;
  padding: 3%;
  max-height: 450px;
}

.entrance-title {
  font-family: 'Lobster', cursive;
  font-size: 100px;
  color: #464655;
}

h1,
h3 {
  font-family: 'Lobster', cursive;
}

input {
  height: 40px;
  padding: 7px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0.5, 0.5);
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0, -4px, 0);
  }
}

.bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.rollIn {
  animation-name: rollIn;
}

.game-card {
  padding: 0.5%;
  flex-grow: 1;
}
